header{
    background-color: #252323;
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}    

#logo{
    width: 10%;
    position: relative;
    right: 680px
}

